openapi: 3.0.0
info:
  title: API Reference
  version: '1.0'
  contact:
    name: Cory Pitt
    email: support@rippling.com
  license:
    name: MIT
  description: |-
    Access to Rippling's Employee Management Platform requires an access token or API key that is tied to a Rippling client account.

    Please see here for an [overview on the Rippling Platform.](https://developer.rippling.com/docs/rippling-api/docs/Getting-Started/a-Introduction.md)

    Additionally, you may find these quick guides useful in getting started.

    - [Getting Started as an Application Partner](https://developer.rippling.com/docs/rippling-api/docs/Getting-Started/c-Partners.md)
    - [Getting Started as a Rippling Customer](https://rippling.stoplight.io/docs/rippling-api/docs/Getting-Started/b-Customers.md)
    - [Rippling Scopes](https://developer.rippling.com/docs/rippling-api/docs/Getting-Started/e-Scopes.md)
    - [The Rippling Postman Collection](https://developer.rippling.com/docs/rippling-api/docs/Getting-Started/d-Postman.md)

    The access token or API key should be used as a bearer token for HTTP requests, for instance:

    ```js
    curl --location --request GET 'https://api.rippling.com/platform/api/companies/current' \
    --header 'Authorization: Bearer REDACTED'
    ```

    ### Using the Interactive Documentation

    Rippling's Documentation Portal allows you to test the API endpoints directly within the documentation. To do so, provide your API key or Access Token as a header parameter with the form Authorization Bearer: TOKEN.

    <br />

    <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/6bc654abb82a4ec7abbaa94a25441c70" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
  termsOfService: 'https://app.rippling.com/developer/tos'
servers:
  - url: 'https://api.rippling.com/platform/api'
    description: Production
  - url: 'https://stage-api.rippling.com/api/platform/api'
    description: Staging
tags:
  - name: A. Companies
  - name: B. Employees
  - name: C. Payroll
  - name: D. 401k
  - name: F. Groups
  - name: G. SAML
  - name: E. Current User
  - name: H. ATS
  - name: I. Application Management
  - name: J. Reports
  - name: Deprecated
paths:
  /companies/current:
    get:
      summary: GET Current Company
      operationId: get-companies
      description: 'Returns the currently accessible company for the given token. Please note, the returned fields depend on the scopes that are enabled for your access token or API key.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              examples:
                Success:
                  value:
                    id: 5ec5595afa9c4e1728118cb5
                    ein: null
                    address:
                      city: San Francisco
                      state: CA
                      country: US
                      zip: '94110'
                      streetLine1: 1234 21st Street
                    tax_info:
                      ein: null
                      entityType: null
                      incorporationDate: null
                      soleProprieterSSN: null
                      futaExempt: false
                      signatory:
                        id: 5ec5595dfa9c4e1728118d11
                        name: James Smith
                        firstName: James
                        lastName: Smith
                        dob: '2017-06-20'
                        ssn: '238726664'
                        phone: null
                        title: Director of Product
                        workEmail: cpitt+2@rippling.com
                        signableName: James Smith
                      nameWithIrs: null
                      incorporationState: null
                      entityName: Rippling_Integrations
                      dba: null
                      postalAddress: null
                    payroll_settings:
                      installState: ACTIVE
                      usStates:
                        - CA
                        - IL
                    workLocations:
                      - id: 5ec5595cfa9c4e1728118ce1
                        nickname: India
                        address:
                          city: Bangalore
                          state: Karnataka
                          country: IN
                          zip: '560048'
                          streetLine1: Prestige Shantiniketan
                      - id: 5ec5595cfa9c4e1728118ce9
                        nickname: San Francisco
                        address:
                          city: San Francisco
                          zip: '94110'
                          streetLine1: 1234 21st Street
                          country: US
                          state: CA
                          steLocationCode:
                            cityCode: '277593'
                            psdCode: ''
                            schoolCode: ''
                            countyCode: '075'
                            stateCode: '06'
                            municipalityCode: ''
                            transitDistrictCode: ''
                            locationCode: 06-075-277593
                      - id: 5ec5595cfa9c4e1728118cf1
                        nickname: Chicago
                        address:
                          city: Chicago
                          zip: '60606'
                          streetLine1: 233 S Wacker Dr
                          country: US
                          state: IL
                          steLocationCode:
                            cityCode: '423587'
                            psdCode: ''
                            schoolCode: ''
                            countyCode: '031'
                            stateCode: '17'
                            municipalityCode: ''
                            transitDistrictCode: ''
                            locationCode: 17-031-423587
                    subscription: 'null'
                    primaryEmail: cpitt+2@rippling.com
                    phone: '4155555555'
                    name: Rippling_Integrations
      parameters: []
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:*'
      tags:
        - A. Companies
    parameters: []
  /departments:
    get:
      summary: GET Departments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of department objects.
                items:
                  $ref: '#/components/schemas/Department'
              examples:
                Success:
                  value:
                    - name: Sales
                      id: 5ec5595ffa9c4e1728118d6f
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: SMB
                      id: 5ec5595ffa9c4e1728118d71
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Mid-market
                      id: 5ec5595ffa9c4e1728118d73
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Enterprise
                      id: 5ec5595ffa9c4e1728118d75
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Engineering
                      id: 5ec5595ffa9c4e1728118d77
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Infra
                      id: 5ec5595ffa9c4e1728118d79
                      parent: 5ec5595ffa9c4e1728118d77
                    - name: Finance
                      id: 5ec5595ffa9c4e1728118d7b
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Marketing
                      id: 5ec5595ffa9c4e1728118d7d
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Customer Support
                      id: 5ec5595ffa9c4e1728118d7f
                      parent: 5ec5595ffa9c4e1728118d6f
                    - name: Velocity
                      id: 5ec5595ffa9c4e1728118d81
                      parent: 5ec5595ffa9c4e1728118d7f
                    - name: Customer Success
                      id: 5ec5595ffa9c4e1728118d83
                      parent: 5ec5595ffa9c4e1728118d7f
      operationId: get-departments
      description: Returns a list of departments for the specified company.
      security:
        - authorizationCode:
            - company
            - 'company:departments'
        - Bearer ApiKey: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      tags:
        - A. Companies
  /employees:
    get:
      summary: GET Employees
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
              examples:
                Success:
                  value:
                    - id: 5c8f7f06c592917aeee1ea9f
                      name: Parashuram Joshi
                      preferredFirstName: Parashuram
                      firstName: Parashuram
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Joshi
                      phoneNumber: 819-729-4862
                      photo: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/4728f747-53e8-4505-8373-a35abc9696ab'
                      smallPhoto: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/8c5b1b8a-d747-4b0d-8206-ee1147a29ee6'
                      dob: '2020-03-01'
                      ssn: null
                      phone: 819-729-4862
                      filingStatus: SINGLE
                      title: Software Engineer
                      compensation:
                        currency: USD
                        annualSalary: '143333.00'
                        salaryPerUnit: '143333.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '1323.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address: null
                      flsaStatus: non-exempt
                      personalEmail: x@testrippling.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Professionals
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: INDIVIDUAL
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-08-11T21:59:23+0000'
                      createdAt: '2019-03-18T11:20:38+0000'
                      startDate: '2019-03-29'
                      employeeNumber: 11
                      roleState: ACTIVE
                      workEmail: parashuram@aamirkhan.co.in
                      offerAcceptedDate: '2019-03-18'
                      manager: 5d3777868a9f4e2b5e467fc9
                    - id: 5ced23a429624819dbfb6d49
                      name: Triveni Mahata
                      preferredFirstName: Triveni
                      firstName: Triveni
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Mahata
                      phoneNumber: null
                      photo: null
                      smallPhoto: null
                      dob: '2020-03-01'
                      ssn: null
                      phone: null
                      filingStatus: SINGLE
                      title: SDE
                      compensation:
                        currency: USD
                        annualSalary: '312321.00'
                        salaryPerUnit: '312321.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Marketing
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address: null
                      flsaStatus: exempt
                      personalEmail: parashuram+test+3@rippling.com
                      spokeId: null
                      customFields: {}
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-07-27T16:39:06+0000'
                      createdAt: '2019-05-28T12:03:48+0000'
                      startDate: '2019-05-28'
                      employeeNumber: 14
                      roleState: ACTIVE
                      workEmail: triveni@testrippling.com
                      offerAcceptedDate: '2019-05-28'
                      manager: 5c8f7f06c592917aeee1ea9f
                    - id: 5d0cce2392dabb5516c13ef9
                      name: Thumb Man
                      preferredFirstName: Thumb
                      firstName: Thumb
                      employmentType: HOURLY_PT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf2734c
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.798000-07:00'
                        updatedAt: '2019-10-04T13:34:53.210000-07:00'
                        external_on_changes: []
                        displayName: HOURLY_PT
                        isSalaried: null
                        isHourly: true
                        isTemporary: null
                        isPartTime: true
                        isFullTime: null
                        isContractor: null
                        label: 'Hourly, part-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Man
                      phoneNumber: null
                      photo: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/c97f46c2-c655-4264-935a-7565337f2760'
                      smallPhoto: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/fb548cd1-48db-4019-8316-7371cc1d4e40'
                      dob: '2020-03-03'
                      ssn: null
                      phone: null
                      filingStatus: SINGLE
                      title: Software Engineer
                      compensation:
                        currency: USD
                        annualSalary: '187200.00'
                        salaryPerUnit: '90.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: HOUR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Marketing
                      workLocation:
                        city: Cypress
                        zip: '77429'
                        streetLine1: Rippling Springs Drive
                        country: US
                        state: TX
                        steLocationCode:
                          cityCode: '0002998060'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '201'
                          stateCode: '48'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 48-201-0002998060
                      address:
                        city: qwqwqw
                        state: qwqw
                        country: AX
                        zip: '1212121'
                        streetLine1: wqwqwqw
                      flsaStatus: non-exempt
                      personalEmail: rohitranjan1729@gmail.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Executive / Senior Level Officials and Managers
                        Favorite Animal: zxcz
                        send notification again: '12'
                        severance test variable: adfhdskfhsf
                        Disability Status: 'Yes, I have a disability (or previously had a disability)'
                        additional variable: hgjh
                        Veteran Status: I am not a protected veteran
                        Data4: '12'
                        What is your Gender?: Male
                        What is your race / ethnicity?: Hispanic or Latino
                        Data1: 07/04/2020
                        Data3: '12'
                        Data2: '12'
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-07-29T02:10:05+0000'
                      createdAt: '2019-06-21T12:31:31+0000'
                      startDate: '2019-06-28'
                      employeeNumber: 15
                      roleState: ACTIVE
                      workEmail: aaaaaaa@testrippling.com
                      offerAcceptedDate: '2019-06-21'
                      manager: 5e6280628a9f4e1ef0d598b6
                    - id: 5d3777868a9f4e2b5e467fc9
                      name: Support Account
                      preferredFirstName: Support
                      firstName: Support
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Account
                      phoneNumber: null
                      photo: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/01eb27cb-67d0-4544-a6b5-80f0f8728bc4'
                      smallPhoto: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/c9189fd4-e466-4725-9b80-5534f84233fa'
                      dob: '2020-03-01'
                      ssn: ''
                      phone: null
                      filingStatus: SINGLE
                      title: VP of engineering
                      compensation:
                        currency: USD
                        annualSalary: '100000.00'
                        salaryPerUnit: '100000.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 1000
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address:
                        city: Weston
                        state: VT
                        country: IL
                        zip: '05161'
                        streetLine1: 123 Israel
                      flsaStatus: non-exempt
                      personalEmail: testrippling@protonmail.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Executive / Senior Level Officials and Managers
                        offboard: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/e132c8f6-531d-4564-8dad-0b57d6867536'
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-08-15T18:33:06+0000'
                      createdAt: '2019-07-23T21:09:26+0000'
                      startDate: '2019-07-01'
                      employeeNumber: 16
                      roleState: ACTIVE
                      workEmail: supportnew@testrippling.com
                      offerAcceptedDate: '2019-07-23'
                      manager: 595f75ffd2a5f80ae22ce894
      operationId: get-employees
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
      description: 'Retrieves the list of active employees. The fields retrieved depend on the employee scopes that you have access to for your access token or API key. The only guarenteeed fields include id, personalEmail, and roleState.'
      tags:
        - B. Employees
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
  /work_locations:
    get:
      summary: GET Work Locations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkLocation'
              examples:
                Success:
                  value:
                    - id: 5ec5595cfa9c4e1728118ce1
                      nickname: India
                      address:
                        city: Bangalore
                        state: Karnataka
                        country: IN
                        zip: '560048'
                        streetLine1: Prestige Shantiniketan
                    - id: 5ec5595cfa9c4e1728118ce9
                      nickname: San Francisco
                      address:
                        city: San Francisco
                        zip: '94110'
                        streetLine1: 1234 21st Street
                        country: US
                        state: CA
                        steLocationCode:
                          cityCode: '277593'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '075'
                          stateCode: '06'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 06-075-277593
                    - id: 5ec5595cfa9c4e1728118cf1
                      nickname: Chicago
                      address:
                        city: Chicago
                        zip: '60606'
                        streetLine1: 233 S Wacker Dr
                        country: US
                        state: IL
                        steLocationCode:
                          cityCode: '423587'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '031'
                          stateCode: '17'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 17-031-423587
      operationId: get-work_locations
      description: Returns the list of work locations for a given company.
      security:
        - authorizationCode:
            - company
            - 'company:workLocations'
        - Bearer ApiKey: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      tags:
        - A. Companies
    parameters: []
  /custom_fields:
    get:
      summary: GET Custom Fields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFields'
              examples:
                Success:
                  value:
                    - type: SELECT
                      title: What is your race / ethnicity?
                      caption: null
                      required: false
                    - type: SELECT
                      title: Veteran Status
                      caption: null
                      required: false
                    - type: SELECT
                      title: What is your Gender?
                      caption: null
                      required: false
                    - type: SELECT
                      title: Disability Status
                      caption: null
                      required: false
                    - type: SELECT
                      title: How will this employee be classified for EEO reporting?
                      caption: null
                      required: true
                    - type: NUMBER
                      title: Data2
                      caption: null
                      required: true
                    - type: DATE
                      title: Data1
                      caption: null
                      required: true
                    - type: TEXTAREA
                      title: Data3
                      caption: null
                      required: true
                    - type: TEXT
                      title: Data4
                      caption: null
                      required: true
                    - type: TEXT
                      title: send notification again
                      caption: null
                      required: true
                    - type: FILE
                      title: offboard
                      caption: null
                      required: true
                    - type: TEXT
                      title: severance test variable
                      caption: null
                      required: false
                    - type: TEXT
                      title: Favorite Animal
                      caption: null
                      required: true
                    - type: TEXT
                      title: additional variable
                      caption: null
                      required: true
      operationId: get-custom_fields
      description: Returns the custom fields for the given company.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:customFields'
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      tags:
        - A. Companies
  /teams:
    get:
      summary: GET Teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
              examples:
                Success:
                  value:
                    - name: Applications
                      id: 5ee6c69bbc3bc7293a217ff2
                      parent: null
                    - name: Identity
                      id: 5ee6c6a2fa9c4e3d71cc32d7
                      parent: null
                    - name: Hardware
                      id: 5ee6c6a7bc3bc7293a217ff6
                      parent: null
                    - name: Payroll
                      id: 5ee6c6abbc3bc72c3f6b88ef
                      parent: null
      operationId: get-teams
      description: Retrieves the list of teams for the company.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:teams'
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      tags:
        - A. Companies
  /levels:
    get:
      summary: GET Levels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Level'
              examples:
                Success:
                  value:
                    - name: Representative
                      id: 5ee6c643bc3bc72b7f40e04a
                      parent: null
                    - name: Executive
                      id: 5ee6c649bc3bc72cfcb9d3b8
                      parent: null
                    - name: Manager
                      id: 5ee6c6bdbc3bc7293a217ffc
                      parent: null
      operationId: get-levels
      description: 'Retrieves the levels for the company. Levels are set positions for an organization, such as Manager, or Executive.'
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:levels'
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      tags:
        - A. Companies
  '/employees/{employeeId}':
    parameters:
      - $ref: '#/components/parameters/employeeId'
    get:
      summary: GET Employee
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
              examples:
                Success:
                  value:
                    id: 5c8f7f06c592917aeee1ea9f
                    name: Parashuram Joshi
                    preferredFirstName: Parashuram
                    firstName: Parashuram
                    employmentType: SALARIED_FT
                    companyEmploymentType:
                      id: 5d7278593ca04e1dadf27346
                      isDeleted: false
                      createdAt: '2019-09-06T08:16:41.785000-07:00'
                      updatedAt: '2019-10-04T13:34:53.193000-07:00'
                      external_on_changes: []
                      displayName: SALARIED_FT
                      isSalaried: true
                      isHourly: null
                      isTemporary: null
                      isPartTime: null
                      isFullTime: true
                      isContractor: null
                      label: 'Salaried, full-time'
                      lock: null
                      company: 595f75ffd2a5f80ae22ce88e
                      possible_new_employment_types:
                        - 5d7278593ca04e1dadf27344
                        - 5d7278593ca04e1dadf27346
                        - 5d7278593ca04e1dadf27348
                        - 5d7278593ca04e1dadf2734a
                        - 5d7278593ca04e1dadf2734c
                        - 5d7278593ca04e1dadf2734e
                    lastName: Joshi
                    phoneNumber: 819-729-4862
                    photo: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/4728f747-53e8-4505-8373-a35abc9696ab'
                    smallPhoto: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/8c5b1b8a-d747-4b0d-8206-ee1147a29ee6'
                    dob: '2020-03-01'
                    ssn: 'null'
                    phone: 819-729-4862
                    filingStatus: SINGLE
                    title: Software Engineer
                    compensation:
                      currency: USD
                      annualSalary: '143333.00'
                      salaryPerUnit: '143333.00'
                      relocationReimbursement: '0.00'
                      salaryUnit: YEAR
                      equityNumShares: 0
                      signingBonus: '1323.00'
                      bonusPaymentDays: null
                      bonusSchedule: FIRST_PAYROLL
                    department: Engineering
                    workLocation:
                      city: Salem
                      zip: '97317'
                      streetLine1: 4000 Mission Street Southeast
                      country: US
                      state: OR
                      steLocationCode:
                        cityCode: '0004491020'
                        psdCode: ''
                        schoolCode: ''
                        countyCode: '047'
                        stateCode: '41'
                        municipalityCode: ''
                        transitDistrictCode: ''
                        locationCode: 41-047-0004491020
                    address: null
                    flsaStatus: non-exempt
                    personalEmail: x@testrippling.com
                    spokeId: null
                    customFields:
                      How will this employee be classified for EEO reporting?: Professionals
                    hsaCompatiblePlanStatus:
                      status: NOT_OFFERED
                      expirationDate: null
                      effectiveDate: null
                      annualLimit: INDIVIDUAL
                    ein: '123121111'
                    endDate: null
                    updatedAt: '2020-08-11T21:59:23+0000'
                    createdAt: '2019-03-18T11:20:38+0000'
                    startDate: '2019-03-29'
                    employeeNumber: 11
                    roleState: ACTIVE
                    workEmail: parashuram@aamirkhan.co.in
                    offerAcceptedDate: '2019-03-18'
                    manager: 5d3777868a9f4e2b5e467fc9
      operationId: get-employees-employeeId
      description: Retrieves the information for a single employee based on the scopes that your API key or access token have access to.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
      tags:
        - B. Employees
    patch:
      summary: PATCH Employee
      operationId: patch-employees-employeeId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
              examples: {}
      description: |
        *Note, this is a deprecated endpoint. Please email apps.partnerships@rippling.com if you need access to modifying an employee's record.

        Updates the field for a single employee. Please note, only the customFields, workLocationId, departmentId, level, teams, and manager can be updated.

        For instance, to update the workLocation, you need to use the PATCH request with the workLocationId set.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
            examples:
              example-1:
                value:
                  departmentId: 5ec5595ffa9c4e1728118d77
                  level: 5ee6c649bc3bc72cfcb9d3b8
                  title: 5ee6c649bc3bc72cfcb9d3b8
                  workLocationId: 5ec5595cfa9c4e1728118ce9
                  customFields:
                    Actual Favorites: newstufff
                  teams:
                    - 5ee6c69bbc3bc7293a217ff2
                    - 5ee6c6a2fa9c4e3d71cc32d7
                  manager: 5ec55967fa9c4e1728118e75
        description: An employee object with updated values for the fields that are to be set.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
      tags:
        - Deprecated
  /employees/include_terminated:
    get:
      summary: GET Employees (Including Terminated)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
              examples:
                Success:
                  value:
                    - id: 5b5901ccf0fe932cec94f113
                      name: Aditya Sundaram
                      preferredFirstName: Aditya
                      firstName: Aditya
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Sundaram
                      phoneNumber: '2325551111'
                      photo: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/52dbeeb5-b688-40f1-b56f-9b5b22f5a236'
                      smallPhoto: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/8f4bc047-54d3-43ba-9a82-368c612ef504'
                      dob: '1990-09-22'
                      ssn: '212454225'
                      phone: '2325551111'
                      filingStatus: MARRIED
                      title: 'Intern engineer '
                      compensation:
                        currency: USD
                        annualSalary: '50000.00'
                        salaryPerUnit: '50000.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address:
                        city: Los Angeles
                        streetLine2: Unit 42
                        zip: '90007'
                        streetLine1: 710 West 27th Street
                        country: US
                        state: CA
                        steLocationCode:
                          cityCode: '1662328'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '037'
                          stateCode: '06'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 06-037-1662328
                      flsaStatus: exempt
                      personalEmail: aditya+e1@rippling.com
                      spokeId: null
                      customFields: {}
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: '2018-07-18'
                      updatedAt: '2020-07-27T16:39:05+0000'
                      createdAt: '2018-07-25T23:03:40+0000'
                      startDate: '2018-07-18'
                      employeeNumber: 8
                      roleState: TERMINATED
                      workEmail: null
                      offerAcceptedDate: '2018-07-25'
                      manager: 5a539213bd01411656f8f12f
                    - id: 5c8f7f06c592917aeee1ea9f
                      name: Parashuram Joshi
                      preferredFirstName: Parashuram
                      firstName: Parashuram
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Joshi
                      phoneNumber: 819-729-4862
                      photo: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/4728f747-53e8-4505-8373-a35abc9696ab'
                      smallPhoto: 'https://s3-us-west-2.amazonaws.com/com.rippling.images/8c5b1b8a-d747-4b0d-8206-ee1147a29ee6'
                      dob: '2020-03-01'
                      ssn: null
                      phone: 819-729-4862
                      filingStatus: SINGLE
                      title: Software Engineer
                      compensation:
                        currency: USD
                        annualSalary: '143333.00'
                        salaryPerUnit: '143333.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '1323.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address: null
                      flsaStatus: non-exempt
                      personalEmail: x@testrippling.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Professionals
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-08-11T21:59:23+0000'
                      createdAt: '2019-03-18T11:20:38+0000'
                      startDate: '2019-03-29'
                      employeeNumber: 11
                      roleState: ACTIVE
                      workEmail: parashuram@aamirkhan.co.in
                      offerAcceptedDate: '2019-03-18'
                      manager: 5d3777868a9f4e2b5e467fc9
                    - id: 5ca35d3b6ab9e20acc4e83e3
                      name: Swag Test
                      preferredFirstName: Swag
                      firstName: Swag
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Test
                      phoneNumber: ''
                      photo: null
                      smallPhoto: null
                      dob: '2020-03-01'
                      ssn: null
                      phone: ''
                      filingStatus: MARRIED
                      title: Engineer
                      compensation:
                        currency: USD
                        annualSalary: '111111.00'
                        salaryPerUnit: '111111.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address: null
                      flsaStatus: exempt
                      personalEmail: swagtest@aamirkhan.co.in
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Executive / Senior Level Officials and Managers
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: INDIVIDUAL
                      ein: '123121111'
                      endDate: '2020-04-23'
                      updatedAt: '2020-07-27T16:39:06+0000'
                      createdAt: '2019-04-02T13:01:47+0000'
                      startDate: '2019-04-01'
                      employeeNumber: 12
                      roleState: TERMINATED
                      workEmail: null
                      offerAcceptedDate: '2019-04-02'
                      manager: 595f75ffd2a5f80ae22ce894
                    - id: 5ced23a429624819dbfb6d49
                      name: Triveni Mahata
                      preferredFirstName: Triveni
                      firstName: Triveni
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Mahata
                      phoneNumber: null
                      photo: null
                      smallPhoto: null
                      dob: '2020-03-01'
                      ssn: null
                      phone: null
                      filingStatus: SINGLE
                      title: SDE
                      compensation:
                        currency: USD
                        annualSalary: '312321.00'
                        salaryPerUnit: '312321.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Marketing
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address: null
                      flsaStatus: exempt
                      personalEmail: parashuram+test+3@rippling.com
                      spokeId: null
                      customFields: {}
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-07-27T16:39:06+0000'
                      createdAt: '2019-05-28T12:03:48+0000'
                      startDate: '2019-05-28'
                      employeeNumber: 14
                      roleState: ACTIVE
                      workEmail: triveni@testrippling.com
                      offerAcceptedDate: '2019-05-28'
                      manager: 5c8f7f06c592917aeee1ea9f
                    - id: 5d0cce2392dabb5516c13ef9
                      name: Thumb Man
                      preferredFirstName: Thumb
                      firstName: Thumb
                      employmentType: HOURLY_PT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf2734c
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.798000-07:00'
                        updatedAt: '2019-10-04T13:34:53.210000-07:00'
                        external_on_changes: []
                        displayName: HOURLY_PT
                        isSalaried: null
                        isHourly: true
                        isTemporary: null
                        isPartTime: true
                        isFullTime: null
                        isContractor: null
                        label: 'Hourly, part-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Man
                      phoneNumber: null
                      photo: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/c97f46c2-c655-4264-935a-7565337f2760'
                      smallPhoto: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/fb548cd1-48db-4019-8316-7371cc1d4e40'
                      dob: '2020-03-03'
                      ssn: null
                      phone: null
                      filingStatus: SINGLE
                      title: Software Engineer
                      compensation:
                        currency: USD
                        annualSalary: '187200.00'
                        salaryPerUnit: '90.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: HOUR
                        equityNumShares: 0
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Marketing
                      workLocation:
                        city: Cypress
                        zip: '77429'
                        streetLine1: Rippling Springs Drive
                        country: US
                        state: TX
                        steLocationCode:
                          cityCode: '0002998060'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '201'
                          stateCode: '48'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 48-201-0002998060
                      address:
                        city: qwqwqw
                        state: qwqw
                        country: AX
                        zip: '1212121'
                        streetLine1: wqwqwqw
                      flsaStatus: non-exempt
                      personalEmail: rohitranjan1729@gmail.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Executive / Senior Level Officials and Managers
                        Favorite Animal: zxcz
                        send notification again: '12'
                        severance test variable: adfhdskfhsf
                        Disability Status: 'Yes, I have a disability (or previously had a disability)'
                        additional variable: hgjh
                        Veteran Status: I am not a protected veteran
                        Data4: '12'
                        What is your Gender?: Male
                        What is your race / ethnicity?: Hispanic or Latino
                        Data1: 07/04/2020
                        Data3: '12'
                        Data2: '12'
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-07-29T02:10:05+0000'
                      createdAt: '2019-06-21T12:31:31+0000'
                      startDate: '2019-06-28'
                      employeeNumber: 15
                      roleState: ACTIVE
                      workEmail: aaaaaaa@testrippling.com
                      offerAcceptedDate: '2019-06-21'
                      manager: 5e6280628a9f4e1ef0d598b6
                    - id: 5d3777868a9f4e2b5e467fc9
                      name: Support Account
                      preferredFirstName: Support
                      firstName: Support
                      employmentType: SALARIED_FT
                      companyEmploymentType:
                        id: 5d7278593ca04e1dadf27346
                        isDeleted: false
                        createdAt: '2019-09-06T08:16:41.785000-07:00'
                        updatedAt: '2019-10-04T13:34:53.193000-07:00'
                        external_on_changes: []
                        displayName: SALARIED_FT
                        isSalaried: true
                        isHourly: null
                        isTemporary: null
                        isPartTime: null
                        isFullTime: true
                        isContractor: null
                        label: 'Salaried, full-time'
                        lock: null
                        company: 595f75ffd2a5f80ae22ce88e
                        possible_new_employment_types:
                          - 5d7278593ca04e1dadf27344
                          - 5d7278593ca04e1dadf27346
                          - 5d7278593ca04e1dadf27348
                          - 5d7278593ca04e1dadf2734a
                          - 5d7278593ca04e1dadf2734c
                          - 5d7278593ca04e1dadf2734e
                      lastName: Account
                      phoneNumber: null
                      photo: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/01eb27cb-67d0-4544-a6b5-80f0f8728bc4'
                      smallPhoto: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/c9189fd4-e466-4725-9b80-5534f84233fa'
                      dob: '2020-03-01'
                      ssn: ''
                      phone: null
                      filingStatus: SINGLE
                      title: VP of engineering
                      compensation:
                        currency: USD
                        annualSalary: '100000.00'
                        salaryPerUnit: '100000.00'
                        relocationReimbursement: '0.00'
                        salaryUnit: YEAR
                        equityNumShares: 1000
                        signingBonus: '0.00'
                        bonusPaymentDays: null
                        bonusSchedule: FIRST_PAYROLL
                      department: Engineering
                      workLocation:
                        city: Salem
                        zip: '97317'
                        streetLine1: 4000 Mission Street Southeast
                        country: US
                        state: OR
                        steLocationCode:
                          cityCode: '0004491020'
                          psdCode: ''
                          schoolCode: ''
                          countyCode: '047'
                          stateCode: '41'
                          municipalityCode: ''
                          transitDistrictCode: ''
                          locationCode: 41-047-0004491020
                      address:
                        city: Weston
                        state: VT
                        country: IL
                        zip: '05161'
                        streetLine1: 123 Israel
                      flsaStatus: non-exempt
                      personalEmail: testrippling@protonmail.com
                      spokeId: null
                      customFields:
                        How will this employee be classified for EEO reporting?: Executive / Senior Level Officials and Managers
                        offboard: 'https://s3.us-west-2.amazonaws.com/com.rippling.images/e132c8f6-531d-4564-8dad-0b57d6867536'
                      hsaCompatiblePlanStatus:
                        status: NOT_OFFERED
                        expirationDate: null
                        effectiveDate: null
                        annualLimit: FAMILY
                      ein: '123121111'
                      endDate: null
                      updatedAt: '2020-08-15T18:33:06+0000'
                      createdAt: '2019-07-23T21:09:26+0000'
                      startDate: '2019-07-01'
                      employeeNumber: 16
                      roleState: ACTIVE
                      workEmail: supportnew@testrippling.com
                      offerAcceptedDate: '2019-07-23'
                      manager: 595f75ffd2a5f80ae22ce894
      operationId: get-employees-include_terminated
      description: 'Similar to the active employees endpoint, but this endpoint includes both active and terminated employees.'
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/ein'
      tags:
        - B. Employees
  '/employees/{employeeId}/scheduled_changes':
    parameters:
      - $ref: '#/components/parameters/employeeId'
    post:
      summary: POST Employee Scheduled Changes
      operationId: post-employees-employeeId-scheduled_changes
      responses:
        '201':
          description: Created
      description: |
        *Note, this is a restricted endpoint. Please email apps.partnerships@rippling.com if you need access to modifying an employee's record.

        Aside from custom fields, most employee changes are scheduled to occur on a certain effective date, so that payroll can be proate efectively.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeChange'
        description: 'Please note, certain fields require certain corresponding scopes in order to be updated:'
      tags:
        - Deprecated
  /me:
    get:
      summary: GET Current User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authenticated-User-(Me)'
              examples:
                Success:
                  value:
                    id: 5ec5595dfa9c4e1728118d11
                    workEmail: cpitt+2@rippling.com
                    company: 5ec5595afa9c4e1728118cb5
      operationId: get-me
      description: Retrieves basic information about the Rippling user whose access token you're using. This is generally used for the SSO flow.
      security:
        - Bearer ApiKey: []
        - authorizationCode: []
      tags:
        - E. Current User
  /groups:
    get:
      summary: GET Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
              examples:
                Success:
                  value:
                    - id: 5f397ed33ca04e4ab23246c2
                      spokeId: 123456xvbnm12345678912354939
                      name: GroupTest3
                      users: []
                      version: t4lz8cjhc54ludro
                    - id: 5f397f3b3ca04e478d4575ad
                      spokeId: lkjwbfskjsdbllskdb
                      name: GroupTest4
                      users:
                        - 5c8f7f06c592917aeee1ea9f
                      version: uu8ccavwbsb8stfn
      operationId: get-groups
      description: |-
        Please note, the Groups endpoint requires an OAuth application (i.e. approved 3rd party partners), as the end point is intended for mapping third-party application “Groups” within Rippling organizations.

        Lists the current third-party groups for an organization.
      security:
        - authorizationCode:
            - 'group_members:read'
            - 'groups:read'
      tags:
        - F. Groups
    parameters: []
    post:
      summary: POST Groups
      operationId: post-groups
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                Success:
                  value:
                    id: 5f397f3b3ca04e478d4575ad
                    spokeId: lkjwbfskjsdbllskdb
                    name: GroupTest4
                    users:
                      - 5c8f7f06c592917aeee1ea9f
                    version: uu8ccavwbsb8stfn
      description: 'Creates a generic group, that can be associated within the third-party application.'
      security:
        - authorizationCode:
            - 'groups:write'
            - 'group_members:write'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: User-readable name of the group.
                spokeId:
                  type: string
                  description: 'The unique ID for the group, this can be the unique identifier for the group entity object within your application.'
                users:
                  type: array
                  description: An array of Rippling IDs that will be in the group.
                  items:
                    type: string
            examples:
              New Group:
                value:
                  name: GroupTest4
                  spokeId: lkjwbfskjsdbllskdb
                  users:
                    - 5c8f7f06c592917aeee1ea9f
        description: A group object.
      tags:
        - F. Groups
  '/groups/{groupId}':
    parameters:
      - $ref: '#/components/parameters/groupId'
    put:
      summary: PUT Group
      operationId: put-groups-groupId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                Success:
                  value:
                    id: 5f397f3b3ca04e478d4575ad
                    spokeId: lkjwbfskjsdbllskdb
                    name: GroupTest
                    users: []
                    version: yvmzhfw50hn39aas
      description: |-
        Please note, the Groups endpoint requires an OAuth application (i.e. approved 3rd party partners), as the end point is intended for mapping third-party application “Groups” within Rippling organizations.

        Using the PUT method, all of the group fields will be updated, even if the corresponding parameter is missing. If the PATCH method is used, and a param is missing, its value won’t be changed.
      security:
        - authorizationCode:
            - 'group_members:write'
            - 'groups:write'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdatePayload'
            examples:
              Sample:
                value:
                  name: GroupTest
                  spokeId: lkjwbfskjsdbllskdb
                  users:
                    - ''
                  version: uu8ccavwbsb8stfn
        description: Group updates object.
      tags:
        - F. Groups
    patch:
      summary: PATCH Group
      operationId: patch-groups-groupId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                Updated Group:
                  value:
                    id: 5f397f3b3ca04e478d4575ad
                    spokeId: lkjwbfskjsdbllskdb
                    name: GroupTest
                    users: []
                    version: yvmzhfw50hn39aas
      description: |-
        Please note, the Groups endpoint requires an OAuth application (i.e. approved 3rd party partners), as the end point is intended for mapping third-party application “Groups” within Rippling organizations.

        Using the PUT method, all of the group fields will be updated, even if the corresponding parameter is missing. If the PATCH method is used, and a param is missing, its value won’t be changed.
      security:
        - authorizationCode:
            - 'group_members:write'
            - 'groups:write'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdatePayload'
            examples:
              Sample:
                value:
                  name: GroupTest
                  spokeId: lkjwbfskjsdbllskdb
                  users: []
                  version: yvmzhfw50hn39aas
        description: Group updates object.
      tags:
        - F. Groups
    delete:
      summary: DELETE Group
      operationId: delete-groups-groupId
      responses:
        '200':
          description: OK
      description: |-
        Please note, the Groups endpoint requires an OAuth application (i.e. approved 3rd party partners), as the end point is intended for mapping third-party application “Groups” within Rippling organizations.

        Deletes the specified group.
      security:
        - authorizationCode:
            - 'groups:write'
      tags:
        - F. Groups
  /pay_schedules:
    get:
      summary: GET Company Pay Schedules
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaySchedule'
              examples:
                Success:
                  value:
                    - id: 5984bcc9d2a5f81ac23e477f
                      name: Semi-monthly pay schedule
                      payFrequency: SEMI_MONTHLY
                      firstCheckDate: '2017-08-15'
                      firstCheckDateOfMonth: 15
                      secondCheckDateOfMonth: 0
                      holidayShift: LEFT
                      arrearDays: '3'
                      arrearDayUnit: CALENDAR
                      payrollDayOfWeek: null
                      roles:
                        - 595f75ffd2a5f80ae22ce894
                        - 5c8f7f06c592917aeee1ea9f
                        - 5ced23a429624819dbfb6d49
                        - 5d0cce2392dabb5516c13ef9
                        - 5d377d45b0974e3e7bbf4834
                        - 5d378447b0974e45c2766acc
                        - 5d3777868a9f4e2b5e467fc9
                        - 5d8e69888a9f4e5915ce5041
                        - 5deabf805595bf4ec6323b37
                        - 5dfa4a7be8914e03bfca02eb
                        - 5e0d801b8a9f4e75e4480e6f
                        - 5e0dc84b8a9f4e7f308f4a32
                        - 5e6280628a9f4e1ef0d598b6
                        - 5e671feffa9c4e0ee09fbace
                        - 5e6a5617b99dbf3e188e4a1c
                        - 5e824a10e8914e3142625351
                        - 5e8cd3c8bc3bc751d4cf8297
                        - 5eaaea92fa9c4e06be937916
                        - 5eb344d2b99dbf52fd3965ed
                        - 5ed540606c9a4e3e61c0d383
                        - 5ed541e7bc3bc72dc06acab3
                        - 5ed67029fa9c4e506bdfb644
                        - 5ed90ad06c9a4e19ee1228af
                        - 5eda79d79838c71350e9e7d6
                        - 5ee78b7dbc3bc773628678bf
                        - 5eebfc1cbc3bc75f9f31d132
                        - 5ef500975e34c7220f8acb8a
                        - 5f08e0549838c74c4a02d801
                        - 5f17468ca1f9d301d2a541cd
                        - 5f342b5906fc3507449bbbf3
                        - 5f36f2ce38514c0233044c05
      operationId: get-pay_schedules
      description: Lists the company's pay schedules.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:payschedules'
      tags:
        - A. Companies
        - C. Payroll
  /earning_types:
    get:
      summary: GET Earning Types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EarningType'
              examples:
                Success:
                  value:
                    - earningType: OVERTIME
                      name: Overtime(1.5x Base)
                      id: 59c16123d2a5f85d64861e1b
                    - earningType: REGULAR_HOURS
                      name: Base Pay
                      id: 59c16123d2a5f85d64861e27
                    - earningType: REIMBURSEMENT
                      name: Reimbursements
                      id: 59c16122d2a5f85d64861e0b
                    - earningType: VACATION
                      name: PTO Payout
                      id: 59c16123d2a5f85d64861e17
                    - earningType: ADVANCE
                      name: Advance (Non-taxable)
                      id: 59c16123d2a5f85d64861e1f
                    - earningType: COMMISSION
                      name: Commission
                      id: 59c16123d2a5f85d64861e23
                    - earningType: SEVERANCE
                      name: Severance
                      id: 59c16123d2a5f85d64861e13
                    - earningType: DOUBLE_OVERTIME
                      name: Double Overtime(2x Base)
                      id: 59c16122d2a5f85d64861e07
                    - earningType: SALARY
                      name: Salary
                      id: 59c16122d2a5f85d64861e03
                    - earningType: BONUS
                      name: Bonus
                      id: 59c16122d2a5f85d64861e0f
                    - earningType: CASH_TIPS
                      name: Cash Tips
                      id: 5c1ca182296248424086b1a3
                    - earningType: PTO_HOURS
                      name: PTO Hours
                      id: 5e68bc9b03c16b74fe4c2160
                    - earningType: HOLIDAY_HOURS
                      name: Holiday Hours
                      id: 5e8e1d7bdbc86b24729a28fa
                    - earningType: COVID_19_SICK_CARERS
                      name: 'COVID-19: Emergency Sick Leave Carers'''
                      id: 5eaaafa6bc3bc749aea6c358
                    - earningType: COVID_19_FAMILY
                      name: 'COVID-19: Emergency Family and Medical Leave'
                      id: 5eaaafa6bc3bc749aea6c35a
                    - earningType: NSO_EXERCISE
                      name: NSO Exercise Income
                      id: 5eaaafa6bc3bc749aea6c35c
                    - earningType: PAYCHECK_TIPS
                      name: Payable Cash Tips
                      id: 5eaaafa6bc3bc749aea6c35e
                    - earningType: S_CORP_HEALTH_DISABILITY
                      name: S-Corp Health and Disability
                      id: 5eaaafa6bc3bc749aea6c360
                    - earningType: FRINGE_BENEFIT
                      name: Fringe Benefit (Imputed)
                      id: 5eaaafa6bc3bc749aea6c362
                    - earningType: STOCK_DISQUALIFYING_DISPOSITION
                      name: ISO (Disqualifying disposition)
                      id: 5eaaafa6bc3bc749aea6c364
                    - earningType: MINISTER_HOUSING_ALLOWANCE
                      name: Minister Housing Allowance
                      id: 5eaaafa6bc3bc749aea6c366
                    - earningType: EMPLOYEE_RETENTION_CREDITS
                      name: Employee Retention Credits Qualifying Income
                      id: 5eaaafa6bc3bc749aea6c368
                    - earningType: PAYMENT_HOURS
                      name: 1099 Hourly Payment
                      id: 5eaaafa6bc3bc749aea6c36a
                    - earningType: LONG_DISABILITY
                      name: Long Term Disability (Imputed)
                      id: 5eaaafa6bc3bc749aea6c36c
                    - earningType: COVID_19_SICK_PERSONAL
                      name: 'COVID-19: Emergency Sick Leave Personal'
                      id: 5eaaafa6bc3bc749aea6c36e
                    - earningType: LIFE_INSURANCE
                      name: Life Insurance (Imputed)
                      id: 5eaaafa6bc3bc749aea6c370
                    - earningType: GUARANTEED_PAYMENT
                      name: Guaranteed Payments
                      id: 5eaaafa6bc3bc749aea6c372
                    - earningType: SHORT_DISABILITY
                      name: Short Term Disability (Imputed)
                      id: 5eaaafa6bc3bc749aea6c374
                    - earningType: TAXABLE_REIMBURSEMENT
                      name: Relocation Bonus
                      id: 5eaaafa6bc3bc749aea6c376
                    - earningType: OWNERS_DRAW
                      name: Owner's Draw
                      id: 5eaaafa6bc3bc749aea6c378
                    - earningType: PAYMENT
                      name: 1099 Payment
                      id: 5eaaafa6bc3bc749aea6c37a
      operationId: get-earning_types
      description: 'Retrieves the list of earning types that the company has configured. Please note, the ids and names for earning types can be different for each company, as Rippling allows them to be customized.'
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
            - 'employee:payroll'
      tags:
        - C. Payroll
  /employee_deductions:
    get:
      summary: GET Employee Deductions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeDeduction'
              examples:
                Success:
                  value:
                    - id: 5ddfae35b0974e68dd81a076
                      role: 5c8f7f06c592917aeee1ea9f
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36b0974e68dd81a07a
                      role: 5ced23a429624819dbfb6d49
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36b0974e68dd81a07c
                      role: 5d0cce2392dabb5516c13ef9
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36fa9c4e18a6c18744
                      role: 5d3777868a9f4e2b5e467fc9
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36fa9c4e18a6c18746
                      role: 5d377d45b0974e3e7bbf4834
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36fa9c4e18a6c18748
                      role: 5d378447b0974e45c2766acc
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5ddfae36fa9c4e18a6c1874c
                      role: 5d8e69888a9f4e5915ce5041
                      companyDeductionType: 5d4dce743ca04e63f32c8933
                      name: 401 Deduction Test
                      isMonthly: true
                      employeeDeduction: '0.0000'
                      isEEPercent: true
                      companyContribution: '0.0000'
                      isERPercent: true
                    - id: 5e3c5dcd0e3ac756badb0614
                      role: 5c8f7f06c592917aeee1ea9f
                      companyDeductionType: 5e3c5dc80e3ac756badb0598
                      name: 401K
                      isMonthly: null
                      employeeDeduction: '123.0000'
                      isEEPercent: false
                      companyContribution: '30.0000'
                      isERPercent: false
                    - id: 5e3c5dcf0e3ac756badb0646
                      role: 5ced23a429624819dbfb6d49
                      companyDeductionType: 5e3c5dc80e3ac756badb0598
                      name: 401K
                      isMonthly: null
                      employeeDeduction: '123.0000'
                      isEEPercent: false
                      companyContribution: '30.0000'
                      isERPercent: false
                    - id: 5e3c5dcf0e3ac756badb0654
                      role: 5d0cce2392dabb5516c13ef9
                      companyDeductionType: 5e3c5dc80e3ac756badb0598
                      name: 401K
                      isMonthly: null
                      employeeDeduction: '123.0000'
                      isEEPercent: false
                      companyContribution: '30.0000'
                      isERPercent: false
      operationId: get-emplyee_deductions
      description: |-
        Employee Deductions are amounts withheld from an employee's payroll check. This endpoint lists employee deductions for a company. Employee deductions are classified by various Employee Deduction Types (EDTs).

        Each Company Deduction generates employee deductions associated for each role. There are employee deductions for each [Company Deduction, Role] pair. Employee Deduction Types are automatically created for each such pair.

        However, these deductions can be overridden through the use of employee specific deductions.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - company
            - 'company:employee_deductions'
      parameters:
        - $ref: '#/components/parameters/companyDeductionType'
        - $ref: '#/components/parameters/role'
      tags:
        - D. 401k
    parameters: []
  /payroll_runs:
    get:
      summary: GET Company Payroll Runs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayrollRun'
              examples:
                Success:
                  value:
                    - id: 5e3c5dd30e3ac756badb06f5
                      runState: PAID
                      runType: REGULAR
                      checkDate: '2020-02-12'
                      name: Dec 29th - Jan 12th
                      approvalDeadline: '2020-02-06'
                      approvedAt: null
                      payPeriod:
                        startDate: '2019-12-29'
                        endDate: '2020-01-12'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e3c5dd90e3ac756badb0781
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-02-12'
                      name: Jan 13th - Jan 28th
                      approvalDeadline: '2020-02-06'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-01-13'
                        endDate: '2020-01-28'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e675ac3bc3bc72a2d66f4a9
                      runState: DRAFT
                      runType: OFF_CYCLE
                      checkDate: '2020-03-16'
                      name: vhjkl
                      approvalDeadline: '2020-03-10'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-03-01'
                        endDate: '2020-03-15'
                        paySchedule: null
                      ein: '123121111'
                    - id: 5e675bcd03c16b724c0e0c02
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-03-16'
                      name: Jan 29th - Feb 12th
                      approvalDeadline: '2020-03-10'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-01-29'
                        endDate: '2020-02-12'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e675bcf03c16b724c0e0c54
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-03-16'
                      name: Feb 13th - Feb 26th
                      approvalDeadline: '2020-03-10'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-02-13'
                        endDate: '2020-02-26'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e6764ba03c16b242b0e0bc4
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-04-03'
                      name: Feb 27th - Mar 12th
                      approvalDeadline: '2020-03-30'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-02-27'
                        endDate: '2020-03-12'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e6764bd03c16b242b0e0c16
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-03-31'
                      name: Mar 13th - Mar 28th
                      approvalDeadline: '2020-03-25'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-03-13'
                        endDate: '2020-03-28'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e6764c36bbe6b53bce1d576
                      runState: DRAFT
                      runType: TRANSITION
                      checkDate: '2020-03-16'
                      name: Transition payroll for Aa Aa
                      approvalDeadline: '2020-03-10'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-02-27'
                        endDate: '2020-03-08'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e6b3da797c36b329f49e486
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-04-15'
                      name: Mar 29th - Apr 12th
                      approvalDeadline: '2020-04-09'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-03-29'
                        endDate: '2020-04-12'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e80559653d16b18488781bd
                      runState: DRAFT
                      runType: REGULAR
                      checkDate: '2020-04-30'
                      name: Apr 13th - Apr 27th
                      approvalDeadline: '2020-04-24'
                      approvedAt: null
                      payPeriod:
                        startDate: '2020-04-13'
                        endDate: '2020-04-27'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
                    - id: 5e822b47bc3bc72a5109e728
                      runState: DRAFT
                      runType: CORRECTION
                      checkDate: '2020-02-12'
                      name: 'Correction: Dec 29th - Jan 12th'
                      approvalDeadline: '2020-08-17'
                      approvedAt: null
                      payPeriod:
                        startDate: '2019-12-29'
                        endDate: '2020-01-12'
                        paySchedule: 5984bcc9d2a5f81ac23e477f
                      ein: '123121111'
      operationId: get-payroll_runs
      description: Retrieves the payroll runs for a company.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
            - 'employee:payroll'
      parameters:
        - $ref: '#/components/parameters/ein'
      tags:
        - C. Payroll
  '/payroll_runs/{payrollRunId}':
    parameters:
      - schema:
          type: string
        name: payrollRunId
        in: path
        required: true
    patch:
      summary: PATCH Payroll Run
      operationId: patch-payroll_runs-runId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRun'
              examples: {}
      description: |-
        The runState and checkDate fields of payroll runs are able to be modified using a PATCH request to the URL of the individual payroll run.

        Please note, payroll runs and corresponding employee payroll runs can only be modified while they are in the DRAFT state.
      security:
        - Bearer ApiKey: []
        - authorizationCode:
            - employee
            - 'employee:payroll'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                checkDate:
                  type: string
                runState:
                  type: string
            examples:
              Sample:
                value:
                  runState: APPROVED
                  checkDate: '2020-08-30'
        description: Send checkDate and runState in order to update their values.
      parameters:
        - $ref: '#/components/parameters/ein'
      tags:
        - C. Payroll
  '/payroll_runs/{payrollRunId}/employees':
    parameters:
      - schema:
          type: string
        name: payrollRunId
        in: path
        required: true
    get:
      summary: GET Employees in a Payroll Run
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeePayrollRun'
              examples:
                Sample:
                  value:
                    - id: 5f0c14d31a9ca42961934a93
                      run: 5f0c14d11a9ca42961934a7a
                      role: 5d378447b0974e45c2766acc
                      earnings:
                        - amount: '4166.67'
                          hours: '86.6700'
                          name: Salary
                          companyEarningType: 59c16122d2a5f85d64861e03
                          earningTypeEnum: SALARY
                        - amount: '0.00'
                          hours: null
                          name: Reimbursements
                          companyEarningType: 59c16122d2a5f85d64861e0b
                          earningTypeEnum: REIMBURSEMENT
                      taxes:
                        - amount: '0.00'
[...]
